body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

.bottom-nav-bar {
    margin-top: 20px;
    z-index: 1200;
    position:fixed;
    bottom:0px;
    height:60px;
    width:100%;
    background:black;
    color: white;
    opacity: 0.9
}

.tab {
    text-align: center;
    border-right: solid white 1px;
    height:60px;
}

a {
    text-decoration: none;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.socialFeed {
    margin-top: 10px;
    padding: 15px;
    min-height: 300px;
    width: 100%;
    background-color: white;
}

.nav_menu {
    margin: 0;
}

.top-bar {
    height: 58px;
    background-color: #000000;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.profile_image {
    display: inline-block;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
}

.profile {
    font-size: 13px;
    padding-top: 10px;
    color: white;
}

.feed-header {
    height: 40px;
    width: 100%;
    margin-bottom: 5px;

    font-size: 13px;
}

.feedReference {
    font-size: 13px;
    height: 20px;
    width: 100%;
}

.feed-content {
    font-size: 15px;
}

.likes,
.feed-comments-shares {
    width: 45%;
    display: inline-block;
    font-size: 12px;
}

.feed-comments-shares {
    text-align: right;
    color: #606060;
}

.feed-actions {
    height: 17px;
}

.feed-action-button {
    width: 32%;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    color: #606060;
}





path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}
.x.axis line {
    stroke: lightgrey;
}
.x.axis .minor {
    stroke-opacity: .5;
}
.x.axis path {
    display: none;
}
.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}